:root {
  --navbar-height: 60px;
}
*,
body {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: var(--navbar-height);
  background-color: yellow;
  display: flex;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

.header .header-logo {
  width: 20%;
  height: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu-lists {
  width: 80%;
  height: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.header .menu-lists-items {
  width: 65%;
  height: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .menu-lists-items ul li {
  display: inline;
  list-style-type: none;
  margin: 10px;
  cursor: pointer;
}

.header .menu-lists__input {
  width: 100px;
  height: 40px;
  text-align: center;
  outline: none;
  border-radius: 20px 30px;
}

.header .menu-lists__button {
  width: 100px;
  height: 40px;
  background-color: blue;
  color: white;
  margin: 5px;
  border-radius: 20px 30px;
  outline: none;
}
.header .menu-lists__button:hover {
  background-color: #fff;
  color: black;
  transition: 0.4s;
  cursor: pointer;
}


/*Home Page*/

.home_page {
  width: 100%;
  height: calc(100vh - var(--navbar-height));
  background-color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_page .left {
  width: 50%;
  height: calc(100vh - var(--navbar-height));
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.home_page .right {
  width: 50%;
  height: calc(100vh - var(--navbar-height));
  background-color: greenyellow;
}

/* ---------------INFORMATION -------------------*/

.information {
  width: 100%;
  height: 200px;
  background-color: blueviolet;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: raw;
}
.information .box {
  width: 80%;
  height: 180px;
  background-color: rgb(48, 46, 55);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.information .box .staff,
.services,
.appointment {
  width: 33.3%;
  height: 100%;
  background-color: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
}
.information .box .staff .left {
  width: 30%;
  height: 100%;
  background-color: rgb(42, 37, 175);
}
.information .box .staff .right {
  width: 70%;
  height: 100%;
  background-color: rgb(42, 37, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information .box .services .left {
  width: 30%;
  height: 100%;
  background-color: rgb(42, 37, 175);
}
.information .box .services .right {
  width: 70%;
  height: 100%;
  background-color: rgb(42, 37, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.information .box .appointment .left {
  width: 30%;
  height: 100%;
  background-color: rgb(42, 37, 175);
}
.information .box .appointment .right {
  width: 70%;
  height: 100%;
  background-color: rgb(42, 37, 175);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* -----------SERVICES & SPECIALTIES-------------- */

.services-type {
  width: 100%;
  height: 200px;
  background-color: rgb(38, 154, 192);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
